@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@tailwind base;
/* @tailwind components; */
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.bg-hello{
  background-color: black;
}

.bg-247{
  background: url("components/Assets/247.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-accurate{
  background: url("components/Assets/accuracy.jpg");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-yoga{
  background: url("components/Assets/yoga.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-chatbot{
  background: url("components/Assets/chatbot.jpg");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.bg-game{
  background: url("components/Assets/game.jpg");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.bg-cam{
  background: url("components/Assets/cam.jpg");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
